{erl_opts, [
           %%debug_info,
           {debug_info_key, ":GIHO_Lee"},
           {d, 'DEBUG'},
           {platform_define, "(linux|solaris|freebsd)", 'BACKLOG', 128},
           {parse_transform, lager_transform}
]}.

{minimum_otp_vsn, "18.3"}.

{erl_first_files, ["src/analyze.erl"]}.
{validate_app_modules, true}.

{dist_node, [
            {setcookie, 'analyzesecretcookie'},
            {name, 'analyze@127.0.0.1'}
]}.

{shell, [
        {apps, [lager, crontab, ranch, cowboy, hackney, analyze]}
]}.

{base_dir, "_build"}.
{deps_dir, "lib"}.
{root_dir, "."}.
{profile_dir, "_build/default/"}.
{project_app_dirs, ["apps/*", "lib/*", "."]}.
{src_dirs, ["src"]}.
{include_dirs, ["include"]}.


{cuttlefish, [
             {file_name, "analyze.conf.1.0.1"},
             {schema_discovery, true}
]}.
{project_plugins, [rebar3_cuttlefish]}.


{relx, [
        {release, 
                  {analyze, "1.0.1"}, 
                  [
                        sasl,
                        stdlib2,
                        lager,
                        lager_syslog,
                        syslog,
                        crontab,
                        ranch,
                        cowboy,
                        erlsom,
                        jsx,
                        recon,
                        hackney,
                        analyze
                  ]
        },       
        {overlay, 
                  [
                        {mkdir, "etc"},
                        {mkdir, "share/schema"},
                        {template, "rel/schema/analyze.schema", "share/schema/00-analyze.schema"},
                        {template, "rel/conf/analyze.conf", "etc/analyze.conf"},
                        
                        {mkdir, "log"},
                        {copy, "config", "config"},
                        {copy, "rel", "rel"},
                        {copy, "shell", "shell"},
                        {copy, "ref", "ref"}
                  ]
        },          
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}
]}.

{profiles, [
                {test, [
                       {relx, [
                              {dev_mode, false}
                       ]},
                       {deps, [
                              %{meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.8.4"}}}
                       ]},
                       {cover_enabled, false}
                ]},
                {dev, [
                       {relx, [
                              {sys_config, false},
                              {vm_args, false},
                              {overlay_vars, "./config/vars.config"}, 
                              {dev_mode, false},
                              {include_erts, true}
                       ]},
                       {erl_opts, [
                                  {debug_info_key, ":GIHO_Lee"}
                       ]}
                ]},
                {prod, [
                       {relx, [
                              {include_src, false},
                              {sys_config, false},
                              {vm_args, false},
                              {overlay_vars, "./config/vars.config"}, 
                              {dev_mode, false},
                              {include_erts, true}
                       ]},
                       {erl_opts, [
                                  {d, 'NODEBUG'},
                                  {debug_info_key, ":GIHO_Lee"}
                       ]}
                ]}
]}.

{deps, [
       {stdlib2, ".*", {git, "git://github.com/cannedprimates/stdlib2.git", {branch, "master"}}},	
       {crontab, ".*", {git, "git://github.com/b3rnie/crontab.git", {branch, "master"}}},	
       {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}},
       {erlsom, {git, "git://github.com/willemdj/erlsom.git", {branch, "master"}}},
       {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.8.1"}}},
       {recon, {git, "git://github.com/ferd/recon.git", {branch, "master"}}},
       {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
       {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
       {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog.git", {branch, "master"}}}
]}.



