[{sasl,[{sasl_error_logger,false}]},
 {lager,
     [{error_logger_hwm,1000},
      {error_logger,[{redirect,true}]},
      {log_dir,"log"},
      {handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{file,"log/error.log"},
                {level,error},
                {size,10485760},
                {date,"$D0"},
                {count,5}]},
           {lager_syslog_backend,["analyze",local0,error]}]},
      {crash_log,"log/crash.log"}]},
 {analyze,
     [{listeners,
          [{tcp,rpc,16,
               [{port,8002},
                {max_connections,200},
                {backlog,256},
                {nodelay,true},
                {send_timeout,30000},
                {send_timeout_close,true}],
               []},
           {tcp,master_control,16,
               [{port,8001},
                {max_connections,200},
                {backlog,256},
                {nodelay,true},
                {send_timeout,30000},
                {send_timeout_close,true}],
               []},
           {tcp,report_data,16,
               [{port,8000},
                {max_connections,1024},
                {backlog,1024},
                {nodelay,true},
                {send_timeout,30000},
                {send_timeout_close,true}],
               []},
           {http,client_request,16,
               [{port,8003},
                {max_connections,2000},
                {backlog,256},
                {nodelay,true},
                {send_timeout,30000},
                {send_timeout_close,true}],
               [{request_timeout,30000},{max_keepalive,2000}]}]},
      {push_service,[{enable,true},{connect,{"127.0.0.1",8010}}]},
      {hour_data_push,[{enable,true},{connect,{"10.168.1.225",7067}}]},
      {xml_data_push,[{enable,true},{connect,{"10.168.1.156",1516}}]},
      {patch_data_push,[{enable, true}]},
      {connector_client_request,
          [{timeout,500000},
           {task_priority,-20},
           {url,"http://10.168.1.165:7654"}]}
    ]
 }
].



