%% 定时任务配置信息

%% { 任务名(不可重复) [年, 月, 日/星期, 时, 分] {Module, Function, Args} }

%%%=======================================================================
%% 每日计算一次
%%%=======================================================================

%% 节能排名计算
{ 1, ['*', '*', '*', 0, 1], {analyze_ranking_ac, start, []} }.

%% 表的日用电量
{ 2, ['*', '*', '*', 0, 3], {analyze_used_ele_of_day, start, []} }.
%% 表的日使用时长
{ 3, ['*', '*', '*', 0, 5], {analyze_used_time_of_day, start, []} }.
%% 楼宇的日用电量计算
{ 4, ['*', '*', '*', 0, 7], {analyze_building_used_ele_of_day, start, []} }.
%% 楼宇的日用电时长计算
{ 5, ['*', '*', '*', 0, 9], {analyze_building_used_time_of_day, start, []} }.
%% 工作日工作时段/非工作时段的用电量计算, 在日用电计算后执行
{ 6, ['*', '*', '*', 0, 11], {analyze_used_ele_of_workday, start, []} }.
%% 空调每日可节省电量
{ 7, ['*', '*', '*', 0, 13], {analyze_ac_conserve_ele_of_day, start, []} }.
%% 每日的平均上报完整率
{ 8, ['*', '*', '*', 0, 15], {analyze_integrity_rate_of_day, start, []} }.
%% 每日的通讯完整率
{ 9, ['*', '*', '*', 0, 17], {os, cmd, ["cd ./ref/perlana && ./ZJJLogAna.exe"]} }.

%% 中央空调的日使用时长计算，
{ 10, ['*', '*', '*', 0, 19], {analyze_central_ac_used_time_of_day, start, []} }.
%% 中央空调工作日工作时段/非工作时段的用电时长计算
{ 11, ['*', '*', '*', 0, 21], {analyze_central_ac_used_time_of_workday, start, []} }.
%% 中央空调每日通宵用电时长计算
{ 12, ['*', '*', '*', 0, 23], {analyze_central_ac_used_time_all_night_of_day, start, []} }.

%% 表的月用电量（每日都计算）
{ 13, ['*', '*', '*', 0, 25], {analyze_used_ele_of_month_2, start, []} }.
%% 楼宇月使用量计算（每日都计算）
{ 14, ['*', '*', '*', 0, 27], {analyze_building_used_ele_of_month_2, start, []} }.

%% 中央空调三档日使用时长（不求和）
{ 15, ['*', '*', '*', 0, 29], {analyze_central_ac_used_time_of_day_2, start, []} }.
%% 中央空调三档月使用时长（不求和）
{ 16, ['*', '*', '*', 0, 31], {analyze_central_ac_used_time_of_month_2, start, []} }.

%% 楼宇中央空调三档日使用时长（不求和）， 需要在单个中央空调表计算日使用时长后计算
{ 17, ['*', '*', '*', 0, 33], {analyze_building_central_ac_used_time_of_day, start, []} }.
%% 楼宇中央空调三档月使用时长（不求和）， 需要在单个中央空调表计算月使用时长后计算
{ 18, ['*', '*', '*', 0, 35], {analyze_building_central_ac_used_time_of_month, start, []} }.






%%%=======================================================================
%% 每月计算一次
%%%=======================================================================

%% 中央空调表的月使用时长
{ 100, ['*', '*', 1, 1, 15], {analyze_central_ac_used_time_of_month, start, []} }.
%% 表的月用电量
% { 101, ['*', '*', 1, 1, 16], {analyze_used_ele_of_month, start, []} }.
%% 表的月使用时长
{ 102, ['*', '*', 1, 1, 17], {analyze_used_time_of_month, start, []} }.
%% 楼宇的月用电量计算
{ 103, ['*', '*', 1, 1, 18], {analyze_building_used_ele_of_month, start, []} }.
%% 楼宇的月用电时长计算
{ 104, ['*', '*', 1, 1, 19], {analyze_building_used_time_of_month, start, []} }.
%% 每月的工作日/非工作日的用电量计算
{ 105, ['*', '*', 1, 1, 20], {analyze_used_ele_of_month_work_and_nonwork, start, []} }.
%% 每月的工作日工作时段/非工作时段的用电量计算
{ 106, ['*', '*', 1, 1, 21], {analyze_used_ele_of_workday_month, start, []} }.
%% 空调每月可节省电量
{ 107, ['*', '*', 1, 1, 22], {analyze_ac_conserve_ele_of_month, start, []} }.
%% 每月的平均上报完整率
{ 108, ['*', '*', 1, 1, 23], {analyze_integrity_rate_of_month, start, []} }.
%% 分体月度报表
{ 109, ['*', '*', 1, 1, 24], {analyze_ac_used_report_of_month, start, []}}.
%% 每月的工作日/非工作日的用电时长计算
{ 110, ['*', '*', 1, 1, 25], {analyze_used_time_of_month_work_and_nonwork, start, []} }.
%% 每月的工作日工作时段/非工作时段的用电时长计算
{ 111, ['*', '*', 1, 1, 26], {analyze_used_time_of_workday_month, start, []} }.
%% 中央空调每月通宵用电时长计算
{ 112, ['*', '*', 1, 1, 27], {analyze_central_ac_used_time_all_night_of_month, start, []} }.
%% 中央空调月度报表
{ 113, ['*', '*', 1, 1, 28], {analyze_central_ac_used_report_of_month, start, []}}.

