{ 
    {"0a0001aa7k", "dataMsg"}, 
    [ 
        {task_realtime_point_ac, start, []}
    ] 
}.

{ 
    {"0a0001a820", "dataMsg"}, 
    [ 
        {task_realtime_point_socket, start, []}
    ] 
}.

{ 
    {"0a0001a830", "dataMsg"}, 
    [ 
        {task_realtime_point_lighting, start, []}
    ] 
}.

{ 
    {"0a0001a4r5", "dataMsg"}, 
    [ 
	{task_realtime_point_central_ac, start, []}
    ] 
}.

{
    {"0a0001a880", "dataMsg"},
    [
        {task_realtime_point_air_detector, start, []}
    ]        
}.


